.landing-page-banner-container {
	min-width: 100vw;
}
.landing-page-banner-img {
	width: 100%;
	height: 30rem;
	object-fit: cover;
	object-position: 50% 50%;
}

.landing-page-text {
	position: absolute;
	top: 9rem;
	margin-left: 2rem;
}
.landing-page-text p {
	color: var(--theme-text-white);
	font-size: 4rem;
	line-height: 5rem;
}
.landing-page-text a {
	color: var(--color-primary);
	font-size: 1.5rem;
	line-height: 2rem;
}
.landing-page-text i {
	color: var(--color-primary);
	font-size: 1.2rem;
}
.landing-page-text-cta:hover {
	color: var(--theme-text-white);
}
.landing-page-text-cta:hover i {
	color: var(--theme-text-white);
}
