.main-grid-sidebar-products {
	min-height: calc(100vh - 4rem);
	display: grid;
	grid-template-columns: 18rem 1fr;
}

.main-sidebar {
	padding-top: 1.5rem;
	background-color: white;
	height: calc(100vh - 4rem);
	position: sticky;
	top: 4rem;
}

.sidebar-section-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

.sidebar-header {
	font-size: 1.25rem;
	font-weight: 600;
}

.sidebar-section-filter .btn-clear {
	color: var(--color-primary);
	font-size: 1.2rem;
	border-radius: 0;
}
.sidebar-section-filter .btn-clear:hover {
	color: var(--color-primary-300);
	border-bottom: 1px solid var(--color-primary-300);
}

.sidebar-section {
	padding: 0 1rem;
}

.sidebar-section label {
	font-size: 1.2rem;
}

.sidebar-input-form {
	margin: 1rem 0;
}
.sidebar-input-form input {
	margin: 10px 0;
}

.sidebar-fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.sidebar-input-component input:hover {
	cursor: pointer;
}
.sidebar-input-component label:hover {
	cursor: pointer;
}

.main-products {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	background-color: var(--theme-bg-grey);
}

.main-products .card {
	margin: 1.5rem;
}

.card-product {
	min-width: 25rem;
}

.card-discount {
	color: var(--theme-primary);
}

.book-img {
	margin: 1rem;
	max-width: 12.5rem;
	box-shadow: 0px 1px 5px 0px var(--color-box-shadow);
}

/***** Reset default component library styles *****/
.card-img-container {
	display: flex;
	justify-content: center;
}

.card-wishlist-btn .btn-icon {
	position: absolute;
	right: 2rem;
	top: 2rem;
}

.card-wishlist-btn i {
	font-size: 1.4rem;
	color: var(--theme-primary);
}

.rating {
	background-color: var(--theme-bg-white);
	box-shadow: none;
}

.rating i {
	color: var(--theme-badge-yellow);
}

.rating i:hover {
	transform: scale(1);
	cursor: default;
}

.card-badge {
	font-size: 1.2rem;
}
/*****    *****/
